/* PHO team stylesheet */
body {
  background-color: #f5f5f5 !important;
}

h1 {
  color: #1d1160 !important;
}

table.dataTable thead {
  background-color: #e56020 !important;
  color: white !important;
}

.multi-team {
  background-color: #ffeeba;
}
